<!DOCTYPE html>
<!--
{% macro pagination(url, page) %}
    <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="{{ url }}{{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="{{ url }}{{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
{% endmacro %}
-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - Awesome Python Webapp</title>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/static/css/uikit.min.css"> -->
    <!-- <link rel="stylesheet" href="/static/css/uikit.gradient.min.css"> -->
    <!-- element 样式 -->
    <link rel="stylesheet" href="//unpkg.com/element-ui@2.13.2/lib/theme-chalk/index.css">
    <!-- <link rel="stylesheet" href="//unpkg.com/element-ui@2.13.1/lib/theme-chalk/display.css"> -->
    <!-- <link rel="stylesheet" href="/static/css/index.css"> -->
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="/static/css/awesome.css" />
    <!-- 响应式 -->
    <link rel="stylesheet" href="/static/css/display.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <!-- <script src="/static/js/uikit-icons.min.js"></script> -->
    <script src="/static/js/sticky.min.js"></script>
    <!-- <script src="/static/js/vue.min.js"></script> -->
    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui@2.13.2/lib/index.js"></script>
    <script src="/static/js/awesome.js"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-header height="50px">
            <div id="app-header" class="el-header-layout">
                <div class="el-header-logo">
                    <a href="/" class="hidden-xs-only">
                        <b class="el-header-logo-img">Awesome</b>
                    </a>
                    <a href="/" class="hidden-sm-and-up"><i class="el-header-aside-icon fa fa-home fa-sm"></i></a>
                    <el-dropdown class="hidden-sm-and-up" @command="handleCommand" placement="bottom-end">
                        <span class="el-header-aside-icon el-dropdown-link">
                            <i class="fa fa-navicon fa-sm"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item command="a">处理中心</el-dropdown-item>
                            <el-dropdown-item divided disabled>我的工作台</el-dropdown-item>
                            <el-dropdown-item command="a">选项1</el-dropdown-item>
                            <el-dropdown-item command="a">选项2</el-dropdown-item>
                            <el-dropdown-item command="a">选项3</el-dropdown-item>
                            <el-dropdown-item command="a" divided>订单管理</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
                <div class="el-header-menu">
                    <el-menu :default-active="activeIndex" mode="horizontal" @select="handleSelect" class="hidden-xs-only">
                        <el-menu-item index="1">处理中心</el-menu-item>
                        <el-submenu index="2">
                            <template slot="title">我的工作台</template>
                            <el-menu-item index="2-1">选项1</el-menu-item>
                            <el-menu-item index="2-2">选项2</el-menu-item>
                            <el-menu-item index="2-3">选项3</el-menu-item>
                        </el-submenu>
                        <el-menu-item index="3"><a href="https://www.ele.me" target="_blank">订单管理</a></el-menu-item>
                    </el-menu>
                </div>
                <div class="el-header-right">
                    <div class="el-header-aside">
                        {% if __user__ %}
                        <el-dropdown @command="handleCommand">
                            <el-badge is-dot>
                                <el-avatar src="https://dev-file.iviewui.com/avatar_default/avatar"></el-avatar>
                            </el-badge>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item icon="el-icon-user-solid"> [[ __user__.name ]] </el-dropdown-item>
                                {% if __user__.admin == 1 %}
                                <el-dropdown-item command="/manage/blogs" icon="el-icon-setting" divided> 后台管理</el-dropdown-item>
                                {% endif %}
                                <el-dropdown-item command="/signout" icon="el-icon-s-unfold" divided> 退出</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                        <el-dropdown>
                            <span class="el-header-aside-icon">
                                <i class="el-icon el-icon-plus" style="font-size: 20px;"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown">
                              <el-dropdown-item>黄金糕</el-dropdown-item>
                              <el-dropdown-item>狮子头</el-dropdown-item>
                              <el-dropdown-item>螺蛳粉</el-dropdown-item>
                              <el-dropdown-item disabled>双皮奶</el-dropdown-item>
                              <el-dropdown-item divided>蚵仔煎</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                        {% else %}
                        <el-link class="el-header-aside-link" href="/signin" type="primary"> 登陆</el-link>
                        <span class="separator">·</span>
                        <el-link class="el-header-aside-link" href="/register" type="primary"> 注册</el-link>
                        {% endif %}
                    </div>
                </div>
            </div>
        </el-header>
        <el-main>
            <div class="el-main-layout">
                <!-- content -->
                {% block content %}
                {% endblock %}
                <!-- // content -->
            </div>
        </el-main>
        <el-footer height="100%" class="el-footer-layout"> 
            <el-row type="flex" justify="space-between">
                <el-col :span="24">
                    <a target="_blank" href="https://www.weibo.com/u/2979863030">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a target="_blank" href="https://github.com/Jeff-wangjunchang">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </el-col>
            </el-row>
            <p style="color: #606f7b;">Powered by <a href="http://awesome.liaoxuefeng.com">Awesome Python Webapp</a>. Copyright &copy; 2020. </p>
            <p style="color: #606f7b;"><a href="http://www.liaoxuefeng.com/" target="_blank">www.liaoxuefeng.com</a>. All rights reserved.</p>
        </el-footer>
    </el-container>
    <div>
        <el-backtop :bottom="100" style="box-shadow: 0 0 6px rgba(0,0,16,0.52)"></el-backtop>
    </div>
</div>
</body>
<!-- main script -->
<script>
    var data = {activeIndex: '1'};
    var functions = {
        handleSelect(key, keyPath) {
            console.log(key, keyPath);
        },
        handleCommand(command){
            if (command) {
                // 执行跳转
                window.location.href = command;
            }
        }
    }
</script>
<!-- extend script -->
{% block script %}<!-- before head  -->{% endblock %}
<!-- new Vue -->
<script>
    var Main = {
        data() {
            return data;
        },
        methods: functions
    }
    console.log(Main);
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
</html>
