<!DOCTYPE html>
<!--
{% macro pagination(url, page) %}
    <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="{{ url }}{{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="{{ url }}{{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
{% endmacro %}
-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - Awesome Python Webapp</title>
    <!-- <link rel="stylesheet" href="/static/css/uikit.min.css"> -->
    <!-- <link rel="stylesheet" href="/static/css/uikit.gradient.min.css"> -->
    <link rel="stylesheet" href="//unpkg.com/element-ui@2.0.11/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="//unpkg.com/element-ui@2.0.11/lib/theme-chalk/display.css">
    <!-- <link rel="stylesheet" href="/static/css/index.css"> -->
    <link rel="stylesheet" href="/static/css/awesome.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <!-- <script src="/static/js/uikit.min.js"></script> -->
    <!-- <script src="/static/js/uikit-icons.min.js"></script> -->
    <!-- <script src="/static/js/sticky.min.js"></script> -->
    <!-- <script src="/static/js/vue.min.js"></script> -->
    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui@2.0.11/lib/index.js"></script>
    <script src="/static/js/awesome.js"></script>
    {% block beforehead %}<!-- before head  -->{% endblock %}
</head>
<body>
<div id="app">
    <el-container>
        <el-header height="50px">
            <div class="el-header-logo">
                <a href="/"><img src="https://file.iviewui.com/dev-dist/7dcf5af41fac2e4728549fa7e73d61c5.svg" class="el-header-logo-img"></a>
            </div>
            <div class="el-header-menu">
                <el-menu :default-active="activeIndex" class="hidden-xs-only" mode="horizontal" @select="handleSelect">
                    <el-menu-item index="1">处理中心</el-menu-item>
                    <el-submenu index="2">
                      <template slot="title">我的工作台</template>
                      <el-menu-item index="2-1">选项1</el-menu-item>
                      <el-menu-item index="2-2">选项2</el-menu-item>
                      <el-menu-item index="2-3">选项3</el-menu-item>
                    </el-submenu>
                    <el-menu-item index="3"><a href="https://www.ele.me" target="_blank">订单管理</a></el-menu-item>
                </el-menu>
            </div>
            <div class="el-header-right">
                <div class="el-header-aside">
                    <el-dropdown>
                        <span class="el-header-aside-icon el-avatar">
                            <img src="https://dev-file.iviewui.com/avatar_default/avatar">
                        </span>
                        <el-dropdown-menu slot="dropdown">
                          <el-dropdown-item>黄金糕</el-dropdown-item>
                          <el-dropdown-item>狮子头</el-dropdown-item>
                          <el-dropdown-item>螺蛳粉</el-dropdown-item>
                          <el-dropdown-item disabled>双皮奶</el-dropdown-item>
                          <el-dropdown-item divided>蚵仔煎</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <el-dropdown>
                        <span class="el-header-aside-icon">
                            <i class="el-icon el-icon-plus" style="font-size: 22px;"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                          <el-dropdown-item>黄金糕</el-dropdown-item>
                          <el-dropdown-item>狮子头</el-dropdown-item>
                          <el-dropdown-item>螺蛳粉</el-dropdown-item>
                          <el-dropdown-item disabled>双皮奶</el-dropdown-item>
                          <el-dropdown-item divided>蚵仔煎</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
            </div>
        </el-header>
        <el-main>
            <div class="el-main-layout">
                <el-row :gutter="40">
                    <el-col :span="6" :xs="24" :sm="16" :md="18" :lg="18" :xl="20"><div class="grid-content bg-purple"></div></el-col>
                    <el-col :span="6" :sm="8" :md="8" :lg="6" :xl="4" class="hidden-xs-only">
                        <div id="card-link">
                            <el-card class="box-card">
                              <div slot="header" class="clearfix">
                                <span>卡片名称</span>
                                <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>
                              </div>
                              <div v-for="o in 4" :key="o" class="text item">
                                {{'列表内容 ' + o }}
                              </div>
                            </el-card>
                        </div>
                    </el-col>
                  </el-row>
            </div>
        </el-main>
        <el-footer>
            <div class="el-footer-layout">
                <p>
                    <a target="_blank" href="http://weibo.com/liaoxuefeng" class="uk-icon-button uk-icon-weibo"></a>
                    <a target="_blank" href="https://github.com/michaelliao" class="uk-icon-button uk-icon-github"></a>
                </p>
                <p>Powered by <a href="http://awesome.liaoxuefeng.com">Awesome Python Webapp</a>. Copyright &copy; 2020. </p>
                <p><a href="http://www.liaoxuefeng.com/" target="_blank">www.liaoxuefeng.com</a>. All rights reserved.</p>
            </div>
        </el-footer>
    </el-container>
</div>
<script>
    var Main = {
        data() {
            return {
                activeIndex: '1'
            };
        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            }
        }
    }
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
    new Vue().$mount('#card-link')
</script>
    
    <nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
        <div class="uk-container uk-container-center">
            <a href="/" class="uk-navbar-brand">Jeff Wang</a>
            <ul class="uk-navbar-nav">
                <li data-url="blogs"><a href="/"><i class="uk-icon-home"></i> 博客</a></li>
            </ul>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav uk-hidden-small">
                {% if __user__ %}
                    <li class="uk-parent" data-uk-dropdown>
                        <a href="#0"><i class="uk-icon-user"></i> {{ __user__.name }}</a>
                        <div class="uk-dropdown uk-dropdown-navbar">
                            <ul class="uk-nav uk-nav-navbar">
                                {% if __user__.admin == 1 %}
                                <li><a href="/manage/" target="_blank"><i class="uk-icon-sign-out"></i> 后台管理</a></li>
                                {% endif %}
                                <li><a href="/signout"><i class="uk-icon-sign-out"></i> 登出</a></li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li><a href="/signin"><i class="uk-icon-sign-in"></i> 登陆</a></li>
                    <li><a href="/register"><i class="uk-icon-edit"></i> 注册</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <!-- content -->
            {% block content %}
            {% endblock %}
            <!-- // content -->
        </div>
    </div>

    <div class="uk-margin-large-top" style="background-color:#eee; border-top:1px solid #ccc;">
        <div class="uk-container uk-container-center uk-text-center">
            <div class="uk-panel uk-margin-top uk-margin-bottom">
                <p>
                    <a target="_blank" href="http://weibo.com/liaoxuefeng" class="uk-icon-button uk-icon-weibo"></a>
                    <a target="_blank" href="https://github.com/michaelliao" class="uk-icon-button uk-icon-github"></a>
                </p>
                <p>Powered by <a href="http://awesome.liaoxuefeng.com">Awesome Python Webapp</a>. Copyright &copy; 2020. </p>
                <p><a href="http://www.liaoxuefeng.com/" target="_blank">www.liaoxuefeng.com</a>. All rights reserved.</p>
            </div>

        </div>
    </div>
</body>
</html>