{% extends '__base__.html' %}

{% block title %}博客{% endblock %}

{% block beforehead %}

<script>
methods = $.extend(methods, {
    // 当前页触发
    handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
        // 获取当前页
        window.location.href = '/?page=' + val;
    }
})
// 与继承页面 data 合并
data = $.extend(data, {
    blogs: {},
    page: {}
})
</script>

{% endblock %}

{% block content %}

    <el-row type="flex" justify="center" :gutter="20">
        <el-col :span="6" :xs="24" :sm="24" >
            <div class="grid-content box-shadow">
                <!-- 内容列 -->
                {% for blog in blogs %}
                <el-row class="event">
                    <el-col :span="24">
                        <div class="event-title">
                            <a href="/blog/[[ blog.id ]]">[[ blog.name ]]</a>
                        </div>
                        <a href="/blog/[[ blog.id ]]" class="event-summary">
                            <div class="event-summary-cover right" style="background-image: url('https://dev-file.iviewui.com/hqegWf0w32KCIveKIafRU3ZmYfXugsI8/small');">
                            </div>
                            <div class="event-summary-content">
                                [[ blog.summary ]]
                            </div>
                        </a>
                        <div class="event-footer">
                            <el-link type="primary" :underline="false"><img class="ui image display-inline-block mr-1" style="width:16px;height:16px;margin-bottom: 3px;" src="https://cdn.learnku.com//uploads/communities/sNljssWWQoW6J88O9G37.png"></el-link>
                            <el-divider direction="vertical"></el-divider>
                            <el-link type="primary">
                                <span class="hidden-xs-only">发表于</span>
                                [[ blog.created_at|datetime ]]
                            </el-link>
                            <el-divider direction="vertical"></el-divider>
                            <el-link type="success">
                                <span class="hidden-xs-only">阅读数</span>
                                <i class="el-icon-view hidden-sm-and-up"></i>
                                 1809
                            </el-link>
                            <el-divider direction="vertical"></el-divider>
                            <el-link type="warning">
                                <span class="hidden-xs-only">评论数</span>
                                <i class="el-icon-s-comment hidden-sm-and-up"></i>
                                 2020
                            </el-link>
                        </div>
                    </el-col>
                </el-row>
                {% endfor %}
                <!-- [[ pagination('/?page=', page) ]] -->
                <br>
                <el-pagination class="center"
                @current-change="handleCurrentChange"
                :current-page="[[ page.page_index ]]"
                :page-size="[[ page.page_size ]]"
                :total="[[ page.item_count ]]"
                :hide-on-single-page="true"
                layout="prev, pager, next">
                </el-pagination>
                <br>
            </div>
        </el-col>
        <el-col class="hidden-xs-only siderbar-right">
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <i class="el-icon-s-flag"></i>
                    <span>快速通道</span>
                </div>
                <div class="text item">
                    <el-link href="http://shop.hupo.site:88" target="_blank" type="danger" >商城</el-link>
                    <el-divider class="el-divider--horizontal-small"></el-divider>
                    <el-link href="http://shop.hupo.site:88" target="_blank" type="primary">读书</el-link>
                </div>
            </el-card>
        </el-col>
    </el-row>
{% endblock %}