{% extends '__base__.html' %}

{% block title %}[[ blog.name ]]{% endblock %}

{% block beforehead %}
<script>
var comment_url = '/api/blogs/[[ blog.id ]]/comments';
// 与继承页面 methods 合并
methods = $.extend(methods , {
        onSubmit() {
            var $form = $('#form-comment');
            $form.showFormError('');
            var content = $form.find('textarea').val().trim();
            if (content==='') {
                // return this.$message({
                //     showClose: true,
                //     message: '请输入评论内容！',
                //     type: 'warning'
                // });
                $('.el-alert').show();
            }
            $form.postJSON(comment_url, { content: content }, function (err, result) {
                if (err) {
                    return this.$message({
                        showClose: true,
                        message: err.data,
                        type: 'warning'
                    });
                }
                refresh();
            });
        }
    })
// 与继承页面 data 合并
data = $.extend(data, {
    textarea: ''
})

</script>
{% endblock %}


{% block content %}
<el-row type="flex" justify="center" :gutter="10">
    <el-col :span="6" :xs="24" :sm="24" class="main-col">
        <div class="grid-content box-shadow">
            <div class="segment">
                <h2 style="margin-bottom: 15px;">
                    <div class="pull-left">
                        <span style="line-height: 34px;">[[ blog.name ]]</span>
                    </div>
                    <div class="clearfix"></div>
                </h1>
                <p style="margin-bottom: 10px;">
                    <el-link type="primary" :underline="false"><img style="width:16px;height:16px;margin-bottom:-3px;" src="https://cdn.learnku.com//uploads/communities/sNljssWWQoW6J88O9G37.png"></el-link>
                    <el-divider direction="vertical"></el-divider>
                    <el-link type="success">
                        <span class="hidden-xs-only">阅读数</span>
                        <i class="el-icon-view hidden-sm-and-up"></i>
                         1809
                    </el-link>
                    <el-divider direction="vertical"></el-divider>
                    <el-link type="warning">
                        <span class="hidden-xs-only">评论数</span>
                        <i class="el-icon-s-comment hidden-sm-and-up"></i>
                         2020
                    </el-link>
                    <el-divider direction="vertical"></el-divider>
                    <el-link type="primary">
                        <span class="hidden-xs-only">发表于</span>
                        [[ blog.created_at|datetime ]]
                    </el-link>
                </p>
                <el-divider></el-divider>
                <div class="article-content">
                    [[ blog.html_content|safe ]]
                </div>
            </div>
        </div>
        <div class="grid-content box-shadow">
            <div class="segment article-content">
                <a href="/" class="left">
                    <el-avatar :size="48" src="[[ blog.user_image ]]"></el-avatar>
                </a>
                <div class="meta" style="max-width: 100%;display: inline-flex;">
                    <a href="/" class="author">[[ blog.user_name  ]]</a>
                </div>
                <div class="text">
                    暂无个人描述~    
                </div>
            </div>
        </div>
        <el-divider><i class="el-icon-s-comment"></i>讨论数量 [[ comments|count ]]</el-divider>
        <div class="grid-content">
            <!-- 评论 -->
            {% if __user__ %}
            <div class="comment bottom-50">
                <a href="/" class="left">
                    <el-avatar :size="48" src="[[ __user__.image ]]"></el-avatar>
                </a>
                <el-card id="form-comment" class="box-card box-shadow">
                    <el-alert
                        title="请输入评论内容！"
                        type="warning" style="display: none;">
                    </el-alert>
                    <el-input
                    type="textarea"
                    :rows="4"
                    placeholder="说点什么吧"
                    v-model="textarea"
                    resize="none"
                    >
                    </el-input>
                    <div style="margin-top: 15px;"></div>
                    <el-button @click="onSubmit" type="primary" size="medium">发表评论</el-button>
                </el-card>
            </div>
            {% else %}
            <div class="comment bottom-50">
                <a href="/" class="left">
                    <el-avatar :size="48" src="/static/img/user-2.png"></el-avatar>
                </a>
                <el-card id="form-comment" class="box-card box-shadow">
                    <el-input
                    type="textarea"
                    :rows="4"
                    :disabled="true"
                    placeholder="说点什么吧"
                    v-model="textarea"
                    resize="none"
                    >
                    </el-input>
                    <div style="margin-top: 15px;"></div>
                    <a href="/signin">
                        <el-button type="primary" size="medium">登录后发表评论</el-button>
                    </a>
                </el-card>
            </div>
            
            {% endif %}
            <!-- 评论列表 -->
            {% for comment in comments %}
            <div class="comment">
                <a href="/" class="left" >
                    <el-avatar :size="48" src="[[ comment.user_image ]]"></el-avatar>
                </a>
                <el-card class="box-card box-shadow">
                    <!-- box-header -->
                    <div slot="header" class="clearfix">
                        <a href="/"><span class="author">[[ comment.user_name ]]</span>{% if comment.user_id==blog.user_id %}(作者){% endif %}</a>
                        <span class="separator"></span>
                        <span class="el-link cursor-default">[[ comment.created_at|datetime ]]</span>
                        <el-tooltip class="item" effect="dark" content="回复" placement="top">
                            <el-button style="float: right; padding: 3px 0" type="text">
                                <i class="el-icon-chat-dot-round" style="font-size: 16px;"></i>
                            </el-button>
                        </el-tooltip>
                    </div>
                    <!-- box-body -->
                    [[ comment.html_content|safe ]]
                    <!-- box-footer -->
                    <!-- <el-divider class="el-divider--horizontal-medium"></el-divider>
                    <p>
                        <el-link :underline="false">
                            <i class="fa fa-thumbs-o-up"></i> 1809
                        </el-link>
                        <span class="separator"></span>
                        <el-link :underline="false"> 回复</el-link>
                    </p> -->
                </el-card>
            </div>
            {% else %}
            <p style="text-align: center;color: #CCC;">(=￣ω￣=)··· 还没有人评论呢...</p>
            {% endfor %}
        </div>
    </el-col>
    <el-col class="hidden-xs-only siderbar-right">
        <el-card class="box-card center">
            <a href="/">
                <el-avatar :size="100" src="[[ blog.user_image ]]"></el-avatar>
            </a>
            <br>
            <br>
            <el-link type="primary" class="author">[[ blog.user_name ]]</el-link>
        </el-card>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <i class="el-icon-s-flag"></i>
                <span>快速通道</span>
            </div>
            <div class="text item">
                <el-link href="http://shop.hupo.site:88" target="_blank" type="danger" >商城</el-link>
                <el-divider class="el-divider--horizontal-small"></el-divider>
                <el-link href="http://shop.hupo.site:88" target="_blank" type="primary">读书</el-link>
            </div>
        </el-card>
    </el-col>
{% endblock %}
