/*
 * custom css
 */
article, aside, blockquote, body, button, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f8f8f9;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
a:hover, a:active {
    text-decoration: none;
}
a {
    color: #2d8cf0;
    background: 0 0;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    transition: color .2s ease;
}
.el-menu--horizontal .el-menu-item {
    height: 50px;
    line-height: 50px;
}
.el-menu--horizontal .el-submenu .el-submenu__title {
    height: 50px;
    line-height: 50px;
}
.el-submenu .el-menu-item {
	height: 50px;
	line-height: 50px;
}
.fa-sm {
    font-size: 1.55em;
    /* color: #606266; */
} 
.el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
}
.el-icon-arrow-down {
    font-size: 12px;
}
.left {
    float: left;
    margin-right: 15px;
}
.right {
    float: right;
    margin-left: 15px;
}
.center {
    text-align: center;
}
.clearfix {
    clear: both;
}
.cursor-default {
    cursor: default;
}
#vm {
    display: none;
}
#loading {
    margin-bottom: 15px;
}
#error {
    display: none;
    margin-bottom: 15px;
}

.uk-comment-body {
    padding-left: 0px;
    padding-right: 0px;
}

/* 布局 */
  /* .el-row {
    margin-bottom: 20px;
  } */
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
    /* background-color: #FFF; */
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }

  /* header */
.el-header {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    font-size: 14px;
}
.el-header-layout{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    max-width: 1200px;
}
.el-header-logo {
    float: left;
    height: 50px;
    line-height: 48px;
}
.el-header-logo-img {
    height: 100%;
    vertical-align: middle;
    float: left;
    /* margin-top: 8px; */
    padding-right: 15px;
    line-height: 50px;
    font-size: 24px;
}
.el-header-logo .fa {
    vertical-align: middle;
    margin-right: 5px;
    margin-top: 3px;
}
.el-header-menu{
    float: left;
}
.el-menu--horizontal {
    border-right: none;
    border-bottom: solid 0px #e6e6e6;
}
.el-header-right{
    float: right;
}
.el-header-aside {
    /* height: 50px;
    line-height: 50px; */
    padding: 9px 0 9px 9px;
}
.el-header-aside-link {
    margin: 6px;
}
.el-header-aside-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 0 8px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.el-icon {
    font-weight: 600;
}
.el-header-aside-icon .el-icon {
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -3px;
}

.el-header-aside .el-avatar {
    width: 32px;
    height: 32px;
    line-height: 32px;
}

.el-avatar>img {
    width: 100%;
    height: 100%;
}

/* main */
.el-main {
    margin-top: 66px;
    min-height: 649px;
}
.el-main-layout {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
.box-shadow{
    /* border: 1px solid #EBEEF5; */
    background-color: #FFF;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04); */
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.siderbar-right {
    width: 316px;
    float: right;
}
.siderbar-left {
    width: 316px;
    float: left;
}
.event{
    background: #FFF;
    border-radius: 4px;
    position: relative;
    padding: 15px ;
    border-bottom: 1px dashed #dcdfe6;
}
.grid-content .event:last-child{
    border-bottom: 1px solid #dcdfe6;
}
.event-title{
    margin: 12px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: rgba(0, 0, 0, .87);
}
.event-title a {
    color: rgba(0, 0, 0, .87);
}
.event-title a:hover {
    color: #2d8cf0;
}
.event-summary{
    display: block;
    color: #616776;
    overflow: hidden;
    font-size: 14px;
}
.event-summary-content {
    text-align: justify;
}
.event-summary-cover {
    width: 140px;
    height: 77px;
    background-size: cover;
    background-position: 50%;
    border-radius: 4px;
}
.event-footer {
    position: relative;
    margin-top: 10px;
}
.separator {
    margin: 0 8px;
    display: inline-block;
    /* width: 1px; */
    height: 1em;
    margin: 0 8px;
    vertical-align: middle;
    position: relative;
}
.el-divider--horizontal-small {
    margin: 6px 0;
    background-color: #EBEEF5;
}
.el-divider--horizontal-medium {
    margin: 12px 0;
    background-color: #EBEEF5;
}


/* footer */
.el-footer-layout {
    background-color:#1b1c1d;
    border-top:1px solid #ccc;
    min-height: 100px;
    text-align: center;
    margin-top: 64px;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* article */
.segment {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 0 0 1rem 0;
    padding: 1em;
    border-radius: .28571429rem;
    /* border: 1px solid rgba(34,36,38,.15); */
}
.article-content {
    font-size: 15px;
    line-height: 30px;
}
.segment p {
    margin: 10px 0;
}
.meta {
    line-height: 1.2;
}
.author {
    font-size: 1em;
    color: rgba(0,0,0,.87);
    font-weight: 700;
}
.text {
    line-height: 1.2;
}
.main-col .el-divider__text{
    background-color: #f8f8f9;
}
.box-card{
    margin: 0 auto;
    margin-bottom: 10px;
}

/* comment */
.comment {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
}

/* alert */
.el-alert {
    margin: 10px 0;
}

/* pagination */

/* margin-bottom-50 */
.bottom-50 {
    margin-bottom: 50px;
}